/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: cornsilk;
}

form {
    margin: auto;
    background-color: rgb(228, 242, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 8px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid seagreen;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgba(34, 29, 29, 0.934);
}

label {
    display: block;
    margin-top: 15px;
    color: brown;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid skyblue;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: steelblue;
    color: rgba(0, 0, 0, 0.533);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8p black;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    cursor: pointer;
}

button :hover {
    color: brown;
}

#resume-display {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 2px solid sienna;
    border-radius: 10px;
    background-color: rgba(228, 242, 255, 0.864);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2 {
    color: brown;
}
